*{
    padding: 0;
    margin: 0;
} 

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

/* btn */

#container #btn {
    width: 7em;
    height: 3em;
}

#container #btn:hover{
    border-radius: 0.75em;
    background: lightgray;
}  

/* Container */

#container{
    padding: 1em;
    margin: 1em;
    width:70%;
    box-shadow: 2px 5px 4px black;
    border: 1px solid black;
} 

#container form{
    text-align: center;
} 

#container form label{
    text-align: left;
    display:block;
    margin-bottom: 0.5em;
} 

#container form input{
    margin-bottom: 1em;
    outline: none;
    border: 1px solid gray;
    padding: 0.25em;
    width: 100%;
} 


#container h1{
    margin-bottom: 1em;
    border-bottom: 2px solid gray;
}


/* BooksContainer */
#bookContainer{
    padding: 1em;
    border: 1px solid black;
} 

#bookContainer td,
#bookContainer tr,
#bookContainer th {
    padding: 0.25em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}  

#bookContainer a{
    color: cadetblue;
} 

#bookContainer a:hover{
    color: red;
    cursor: pointer;
} 

/* alert */
.alert{
    color: green;
    display:block;
    animation-name: fadeIN;
    animation-duration: 0.65s;
}

@keyframes fadeIN{
    from {color: transparent;}
    to {color: green;}  
}  
